.post-side
  .post-side__header
    .post-side__header__box
      .names
        %p.post-side__header__box__name
          なみ
      .menus
        %ul.post-side__header__box__menu
          %li.post-side__header__box__menu__new-group
            = link_to "#" do
              = icon('far', 'edit')
          %li.post-side__header__box__menu__edit-user
            = link_to "#" do
              = icon('fa','cog')
  .groups
    %a(href = '#')
      .groups__group
        %p.groups__group-name
          なみ
        %p.groups__display-message
          messege