* {
  box-sizing: border-box;
  }

  .post-side {
    width: 300px;
    height: 100vh;
    background: $gray; 
    
    &__header {
      width: 300px;
      height: 100px; 
      background: $dark-gray;
      display: flex;
      justify-content: center;
      align-items: center; 
    } 

    &__header__box {
      width: 260px; 
      height: 20px;
      background: $dark-gray;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      text-align: right;
    }

    &__header__box__name {
      color: $white;
      font-size: 16px;
    }

    &__header__box__menu {
      width: 60px;
      display: flex;
      justify-content: flex-end;
      li {
       margin: 0 2.5px 0; 
      }  
    }
    i {
      color: $white;
    }
    a {
      text-decoration: none;
    }

    .groups {
      height: calc( 100vh - 100px ); 
      padding: 20px 20px 0;
      
  
    &__group {
        width: 260px;
        height: 45px;
        margin-bottom: 40px;
    }

    a{
      color: white
    }

    &__group-name {
      margin-bottom: 5px;
      font-size: 15px;
      color: $white;
    }

    &__display-message {
      font-size: 11px;
      color: $white;
    }

  }

  }

  
  .post-main {
    @include form;
    height: 100vh;
    background-color: $white;
  
    &__header {
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;

      &__left {
        width: 100px;
        margin-top: 18px;

        .h2 {
          color: #333333;
          font-size: 20px;
          margin-top: 20px;
        }

        &__menber {
          margin-top: 20px;
          color: #999999;
          font-size: 12px;
        }
      }
      &__right {
        width: 100px;
        margin-top: 18px;
        &__edit-btn {
          border: 1px solid $light_blue;
          color: $light_blue;
          float: right;
          height: 40px;
          line-height: 40px;
          margin-top: 12px;
          padding: 0 20px;
          a {
            text-decoration: none;
            color: $light_blue;
          }
        }
      }
    }
    &__messages {
      @include form;
      height: calc( 100vh - 190px);
      background: $off-white;
      padding: 45px 40px;
    }

      &__messages__message {
        margin-bottom: 45px;
      }

      &__messages__message__info {
        height: 25px;
        display: flex;
        justify-content: left;
        margin-bottom: 12px;
      }

      &__messages__message__contents {
        height: 25px;
        display: flex;
        justify-content: left;
      }

      &__messages__message__contents__info {
        color: #434A54;
        font-size: 14px;
      }

      &__messages__message__user {
        color: #333333;
        font-size: 16px;
        margin-right: 5px;
      }
      &__messages__message__date {
        color: #999999;
        font-size: 12px;
      }

      &__form {
        @include form;
        height: 90px;
        background: $white-gray;
        padding: 20px 40px;
        
        form {
          display: flex;
          .input-box {
            width: 100%;
            position: relative;
            &-text {
              width: 100%;
              height: 50px;
              padding: 0 40px 0 10px;
            }

            &-label {
              position: absolute;
              top: 10px;
              right: 10px;
              &__file {
                display: none;
              }
            }
          }

          .input-submit {
            width: 100px;
            height: 50px;
            margin-left: 15px;
            color: $white;
            background: $blue;
          }
        }
      }
  }